# Expo
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts

# Next.js (accidentally generated if next commands are run from wrong directory)
.next/

# Native build output
ios/
android/

# Environment
.env
.env.local

# OS
.DS_Store

# TypeScript
*.tsbuildinfo
